body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* background-color: #005299;*/    
}

body p {
    margin: 0;
}

body .mobile-yep {
    display: none;
}

body .tiny-mobile-yep {
    display: none;
}

.navbar {
    display: flex;
    background-color: #333;
    min-height: 3rem;
    overflow: hidden;
}
.navbar a {
    flex: 1;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.content {
    /* height: 100%; */
    padding: 1.25rem;
    text-align: left;
}
.tab {
    font-size: 1.5rem;
}

.tab.active {
    background-color: #4CAF50;
}

.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
    flex-grow: 1;
}

body ul {
    list-style: none;
    margin-bottom: 4rem;
    padding: 0;
}

body ul li {
    margin-bottom: 1rem;
}

body .wrap {
    display: flex;
    flex-wrap: wrap;
}

body .no-wrap {
    white-space: nowrap;
}

footer {
    font-size: 0.75rem;
    margin: 2rem 0 0 2rem;
}

.basic-info-container,
.mastery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.basic-info-container img {
    height: 4rem;
    margin: 0 0 1rem 0;
}

.mastery-container img {
    height: 4rem;
}

.basic-michelangelo-content,
.basic-leonardo-content,
.basic-raphael-content,
.basic-donatello-content {
    /* background: no-repeat url("assets/TMNT-Background.webp"); */
    /* background-size: 100% 100%; */
    /* color: white; */
    /* margin: 0 5rem 3rem 0; */
    /* padding: 2rem 4rem; */
}

/* .power-wrapper {
    background: no-repeat url("assets/TMNT-Background.webp");
    background-size: 100% 100%;
    color: white;
    margin: 0 2rem 2rem 0;
    padding: 2rem 4rem;
} */

/* .power-wrapper {
    background-color: royalblue;
    color: white;
    border-radius: 3rem;
    margin: 0.5rem;
    padding: 0.5rem 2rem;
    width: fit-content;
} */

/* #basic-info .basic-insp,
#basic-info .basic-content {
    color: white;
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    width: fit-content;
} */

/* #basic-info .basic-content {
    padding: 1rem;
    border-radius: 2rem;
} */

.border-m {
    border: #EB8248  2px solid;
    padding: 1rem;
    border-radius: 2rem;
}

.border-l {
    border: #1F61B8  2px solid;
    padding: 1rem;
    border-radius: 2rem;
}

.border-r {
    border: #C02D2A  2px solid;
    padding: 1rem;
    border-radius: 2rem;
}

.border-d {
    border: #9622C4  2px solid;
    padding: 1rem;
    border-radius: 2rem;
}

.color-m {
    background-color: #EB8248;
    color: white;
}

.color-l {
    background-color: #1F61B8;
    color: white;
}

.color-r {
    background-color: #C02D2A;
    color: white;
}

.color-d {
    background-color: #9622C4;
    color: white;
}

#basic-info ul {
    margin: 0 0 1rem 0;
}

#basic-info .basic-insp h4 {
    margin: 0 0 1rem 0;
}

#inspirations .insp-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3rem 0;
}

#inspirations .insp-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 0 1rem 0;
}

#inspirations .insp-row .insp-name {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    font-size: 1.75rem;
    margin: 0 0 1rem 0;
}

#inspirations .insp-row .insp-name .insp-image {
    height: 3rem;
    margin-right: 1rem;
}

#inspirations .insp-row .insp-inner {
    padding: 1rem;
    border-radius: 1rem;
}

#inspirations .insp-row .insp-inner {
    padding: 1rem;
    border-radius: 1rem;
}

#inspirations .insp-row .insp-inner .level {
    margin: 0 0 1rem 0;
}


#inspirations tbody th {
    border-radius: 1rem;
}

.power-wrapper h4 {
    margin: 2rem 0 0 0;
}

.basic-leonardo,
.basic-donatello,
.basic-michelangelo,
.basic-raphael,
.mastery-leonardo,
.mastery-donatello,
.mastery-michelangelo,
.mastery-raphael {
    margin-left: 1rem;
    text-align: left;
}

#mastery ul {
    list-style: none;
    padding: 0;
}

#mastery ul li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#mastery ul li img {
    margin-right: 1rem;
}

#mastery ul li p {
    /* color: white; */
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    width: fit-content;
}

#mastery .mastery-michelangelo ul li p {
    /* background-color: #EB8248; */
    border: 2px solid #EB8248;
}

#mastery .mastery-leonardo ul li p {
    /* background-color: #1F61B8; */
    border: 2px solid #1F61B8;
}

#mastery .mastery-raphael ul li p {
    /* background-color: #C02D2A; */
    border: 2px solid #C02D2A;
}

#mastery .mastery-donatello ul li p {
    /* background-color: #9622C4; */
    border: 2px solid #9622C4;
}

#powers,
#tools {
    text-align: left;
}

#powers summary {
    /* list-style: none; */
    font-size: 1.5rem;
    margin: 2rem 0;
}

#powers h4,
#tools h4 {
    margin-bottom: 0;
    text-decoration: underline;
}

#powers p,
#tools p {
    margin: 0.4rem;
}

#powers .section-title {
    position: relative;
    bottom: 2.25rem;
    background-color: #f1f1f1;
    margin: 0 0 -3rem 0;
    padding: 0.25rem 2rem 0.25rem 1rem;
    width: fit-content;
}

#powers .border-astral-d {
    border: 2px solid darkgray;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-astral-l {
    border: 2px solid darkgray;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-flame {
    border: 2px solid orange;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-ninja {
    border: 2px solid green;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-ooze {
    border: 2px solid purple;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-utrom {
    border: 2px solid lightblue;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-water {
    border: 2px solid blue;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#inspirations th {
    padding: 0 2rem;
    text-align: left;
}

/* #inspirations th {
    text-align: left;
} */

#inspirations td {
    padding: 1rem 2rem;
    /* border: 1px solid rgb(160 160 160); */
}

#inspirations td p {
    margin: 0;
    /* white-space: nowrap; */
}

#upgrades th {
    padding-left: 1rem;
    text-align: left;
}

#upgrades td {
    padding: 1rem 0.5rem;
    text-align: left;
    min-width: 10rem;
}

#upgrades td p {
    margin: 0;
    /* white-space: nowrap; */
}

#upgrades th,
#upgrades td,
#artifacts th,
#artifacts td {
    border: 1px solid rgb(160 160 160);
}

 

.table-wrapper {
    margin-bottom: 3rem;
    max-width: 95vw;
    overflow-x: scroll;
}

/* tbody > tr:nth-of-type(even) {
    background-color: #ffffff;
} */

#artifacts table {
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

#artifacts table th {
    padding-right: 3rem;
}

#artifacts thead {
    text-align: left;
    text-decoration: underline;
}

#artifacts .artifact-image {
    height: 100px;
}

#artifacts .artifact {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 16rem 1fr;
    border: 2px solid darkgray;
    padding: 1rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
}

#artifacts .artifact-header {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    text-align: center;
}

#artifacts .artifact-details-container {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

#artifacts .artifact-cost-container {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#artifacts .artifact-cost-container .level {
    line-height: 1rem;
}

#artifacts .artifact-cost-container .cost {
    margin: 0 1.8rem 1rem 0;
}

#artifacts .artifact-image {
    align-self: center;
    margin: 0 0 1rem 0;
}

tr th:first-of-type {
    border: none !important;
}

.tool-image {
    height: 8rem;
}

.hamburger {
    display: none;
    background-color: #333;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 14px;
    cursor: pointer;
}
.mobile-menu {
    display: none;
    background-color: #333;
}
.mobile-menu a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
.mobile-menu a:hover {
    background-color: #ddd;
    color: black;
}

img.coin {
    position: relative;
    top: 0.25rem;
    width: 1.75rem;
}

img.coin.band {
    top: 0.125rem;
    width: 2.25rem;
}

img.coin.karai {
    margin-bottom: 0.15rem;
}

img.coin-large {
    position: relative;
    top: 0.75rem;
    width: 3rem;
}

.icon-power {
    margin-left: 1rem;
    position: relative;
    top: 0.25rem;
    width: 1.75rem;
}

#boosts .boost-wrapper {
    align-items: center;
    display: flex;
    gap: 2rem;
}

#boosts .boost-image {
    height: 5rem;
}

@media screen and (max-width: 1200px) {
    body .content {
        padding: 0.75rem;
    }

    body .mobile-nope {
        display: none;
    }

    body .mobile-yep {
        display: inline-block;
    }

    .navbar {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
    .mobile-menu.show {
        display: block;
    }

    .basic-info-container,
    .mastery-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .basic-leonardo,
    .basic-donatello,
    .basic-michelangelo,
    .basic-raphael,
    .mastery-leonardo,
    .mastery-donatello,
    .mastery-michelangelo,
    .mastery-raphael {
        margin-left: 0;
    }
    
    /* .basic-info-container img,
    .mastery-container img {
        height: 10rem;
    } */
    
    .basic-michelangelo-content,
    .basic-leonardo-content,
    .basic-raphael-content,
    .basic-donatello-content {
        /* background: no-repeat url("assets/TMNT-Background.webp");
        background-size: 100% 100%;
        color: white; */
        margin: 0 0 3rem 0;
        padding: 0;
    }

    /* mastery no left margin */

    #mastery ul li p {
        border-radius: 2rem;
    }

    #inspirations .insp-wrapper,
    #inspirations .insp-row,
    #inspirations .insp-name {
        flex-direction: column;
        margin: 0 0 2rem 0;
    }

    #inspirations .insp-row .insp-name .insp-image {
        height: 5rem;
    }

    #artifacts .artifact {
        gap: 2rem;
        grid-template-columns: 1fr;
    }

    #artifacts .artifact-header {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        justify-self: center;
    }
    
    #artifacts .artifact-details-container {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    
    #artifacts .artifact-cost-container {
        flex-direction: column;
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }

    #boosts .boost-wrapper {
        flex-direction: column;
        gap: 0.5rem;
        margin: 0 0 3rem 0;
    }

    #boosts .boost-wrapper h4 {
        margin: 0;
    }
    
}

@media screen and (max-width: 550px) {
    body .tiny-mobile-yep {
        display: inline-block;
    }
}