/*
    Global
*/
body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body p {
    margin: 0;
}

body .note {
    font-size: 1rem;
}

body a,
body a:visited {
    color: #333333;
}

body .mobile-yep {
    display: none;
}

body .tiny-mobile-yep {
    display: none;
}

.navbar {
    display: flex;
    background-color: #333;
    height: 3.75rem;
    overflow: hidden;
}
body .navbar a {
    color: white;
    text-align: center;
    padding: 1rem 0.8rem;
    text-decoration: none;
}
body .navbar a:hover {
    background-color: #ddd;
    color: black;
    padding: 1rem 2rem;
    transition: 0.3s;

}

.shimmer {
    color: grey;
    mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
    animation: shimmer 2.5s;
  }
  
  @keyframes shimmer {
    100% {
      mask-position: left;
    }
  }

:target {
	-webkit-animation: target-fade 3s;
	-moz-animation: target-fade 3s;
	-o-animation: target-fade 3s;
	animation: target-fade 3s;
}

@-webkit-keyframes target-fade {
	from { background-color: #2E7D32; } /* [1] */
	to { background-color: transparent; }
}

@-moz-keyframes target-fade {
	from { background-color: #2E7D32; } /* [1] */
	to { background-color: transparent; }
}

@-o-keyframes target-fade {
	from { background-color: #2E7D32; } /* [1] */
	to { background-color: transparent; }
}

@keyframes target-fade {
	from { background-color: #2E7D32; } /* [1] */
	to { background-color: transparent; }
}

.content {
    padding: 1.25rem;
    text-align: left;
}
.tab {
    font-size: 1.5rem;
}

.tab.active {
    background-color: #2E7D32;
    padding: 1rem 2rem;
}

.tab-content.active {
    display: block;
    flex-grow: 1;
}

body ul {
    list-style: none;
    margin-bottom: 4rem;
    padding: 0;
}

body ul li {
    margin-bottom: 1rem;
}

body .wrap {
    display: flex;
    flex-wrap: wrap;
}

body .no-wrap {
    white-space: nowrap;
}

footer {
    font-size: 0.75rem;
    margin: 2rem 0 0 2rem;
}

.color-astral-dark {
    color: #C860FF;
}

.color-astral-light {
    color: yellow;
}

.color-flame {
    color: #FF8000;
}

.color-ninja {
    color: green;
}

.color-poison {
    color: #Eb1464;
}

.color-utrom {
    color: #32E6FF;
}

.color-water {
    color: #1EA2FF;
}

.color-robotics {
    color: gray;
}

.color-master-strike {
    color: #8080FF;
}

.color-confidence {
    color: #BF2125;
}

.keep-spaces {
    white-space: pre;
}

.no-deco {
    text-decoration: none;
}

.margin-top {
    margin-top: 2rem;
}

.margin-left {
    margin-left: 2rem;
}

/*
    Basic Info
*/
.basic-info-container,
.mastery-container {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr);
}

.basic-info-container img {
    height: 4rem;
    margin: 0 0 1rem 0;
}

.mastery-container img {
    height: 4rem;
}

.basic-michelangelo-content,
.basic-leonardo-content,
.basic-raphael-content,
.basic-donatello-content,
.basic-metalhead-content {
    /* background: no-repeat url("assets/TMNT-Background.webp"); */
    /* background-size: 100% 100%; */
    /* color: white; */
    /* margin: 0 5rem 3rem 0; */
    /* padding: 2rem 4rem; */
}

/* .power-wrapper {
    background: no-repeat url("assets/TMNT-Background.webp");
    background-size: 100% 100%;
    color: white;
    margin: 0 2rem 2rem 0;
    padding: 2rem 4rem;
} */

/* .power-wrapper {
    background-color: royalblue;
    color: white;
    border-radius: 3rem;
    margin: 0.5rem;
    padding: 0.5rem 2rem;
    width: fit-content;
} */

/* #basic-info .basic-insp,
#basic-info .basic-content {
    color: white;
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    width: fit-content;
} */

/* #basic-info .basic-content {
    padding: 1rem;
    border-radius: 2rem;
} */

.border-m {
    border: #EB8248  2px solid;
    padding: 1rem;
    border-radius: 2rem;
}

.border-l {
    border: #1F61B8  2px solid;
    padding: 1rem;
    border-radius: 2rem;
}

.border-r {
    border: #C02D2A  2px solid;
    padding: 1rem;
    border-radius: 2rem;
}

.border-d {
    border: #9622C4  2px solid;
    padding: 1rem;
    border-radius: 2rem;
}

.border-c {
    border: #1EC2C7  2px solid;
    padding: 1rem;
    border-radius: 2rem;
}

.border-mh {
    border: #FFFF64 2px solid;
    padding: 1rem;
    border-radius: 2rem;
}

.color-m {
    background-color: #EB8248;
    color: white;
}

.color-l {
    background-color: #1F61B8;
    color: white;
}

.color-r {
    background-color: #C02D2A;
    color: white;
}

.color-d {
    background-color: #9622C4;
    color: white;
}

.color-c {
    background-color: #1EC2C7;
    color: white;
}

.color-mh {
    background-color: #FFFF64;
    color: white;
}

#basic-info ul {
    margin: 0 0 1rem 0;
}

#basic-info .basic-insp h4 {
    margin: 0 0 1rem 0;
}

#basic-info .max-label {
    position: relative;
    background-color: #f1f1f1;
    bottom: 2rem;
    margin-bottom: -0.5rem;
    width: fit-content;
    padding: 0 1rem;
}

.hamburger {
    display: none;
    background-color: #333;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 14px;
    cursor: pointer;
}
.mobile-menu {
    display: none;
    background-color: #333;
}
body .mobile-menu a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
body .mobile-menu a:hover {
    background-color: #ddd;
    color: black;
}

img.coin {
    position: relative;
    top: 0.25rem;
    width: 1.75rem;
}

img.coin.band {
    top: 0.125rem;
    width: 2.25rem;
}

img.coin.karai {
    margin-bottom: 0.15rem;
}

img.coin-large {
    position: relative;
    top: 0.75rem;
    width: 3rem;
}

/*
    Inspirations
*/

#inspirations .insp-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3rem 0;
}

#inspirations .insp-intro {
    padding: 1rem;
}

#inspirations .insp-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 0 1rem 0;
}

#inspirations .insp-row .insp-name {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    font-size: 1.75rem;
    margin: 0 0 1rem 0;
}

#inspirations .insp-row .insp-name .insp-image {
    height: 3rem;
    margin-right: 1rem;
}

#inspirations .insp-row .insp-inner {
    padding: 1rem;
    border-radius: 1rem;
}

#inspirations .insp-row .insp-inner {
    padding: 1rem;
    border-radius: 1rem;
}

#inspirations .insp-row .insp-inner .level {
    margin: 0 0 1rem 0;
}


#inspirations tbody th {
    border-radius: 1rem;
}

#inspirations th {
    padding: 0 2rem;
    text-align: left;
}

#inspirations td {
    padding: 1rem 2rem;
    /* border: 1px solid rgb(160 160 160); */
}

#inspirations td p {
    margin: 0;
    /* white-space: nowrap; */
}

.power-wrapper h4 {
    margin: 2rem 0 0 0;
}

.basic-leonardo,
.basic-donatello,
.basic-michelangelo,
.basic-raphael,
.basic-casey,
.basic-metalhead,
.mastery-leonardo,
.mastery-donatello,
.mastery-michelangelo,
.mastery-raphael,
.mastery-casey,
.mastery-metalhead {
    margin-left: 1rem;
    text-align: left;
}

/*
    Mastery
*/

#mastery ul {
    list-style: none;
    padding: 0;
}

#mastery ul li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#mastery ul li img {
    margin-right: 1rem;
}

#mastery ul li p {
    /* color: white; */
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    width: fit-content;
}

#mastery .mastery-michelangelo ul li p {
    /* background-color: #EB8248; */
    border: 2px solid #EB8248;
}

#mastery .mastery-leonardo ul li p {
    /* background-color: #1F61B8; */
    border: 2px solid #1F61B8;
}

#mastery .mastery-raphael ul li p {
    /* background-color: #C02D2A; */
    border: 2px solid #C02D2A;
}

#mastery .mastery-donatello ul li p {
    /* background-color: #9622C4; */
    border: 2px solid #9622C4;
}

#mastery .mastery-casey ul li p {
    /* background-color: #1EC2C7; */
    border: 2px solid #1EC2C7;
}

#mastery .mastery-metalhead ul li p {
    /* background-color: gray; */
    border: 2px solid #FFFF64;
}

/*
    Powers
*/

#powers {
    margin-left: 3vw;
    text-align: left;
}

#powers .power-intro {
    margin: 0 0 2rem 0;
}

#powers summary {
    cursor: pointer;
    list-style: none;
    font-size: 1.5rem;
    /* margin: 1rem 0; */
    transition: 0.5s;
}

#powers .p-icon {
    position: relative;
    top: 2rem;
    width: 6rem;
    margin: 0 1rem 0 0;
    transition: 0.5s;
}

@media (pointer: fine) {
    #powers summary:hover {
        font-size: 2.5rem;
    }
    
    #powers summary:hover .p-icon {
        width: 8rem;
    }
}

#powers details[open] summary .p-icon {
    width: 7rem;
}

#powers details[open] summary {
    font-size: 2rem;
    margin: 2rem 0 3rem;
}

#powers h4 {
    margin-bottom: 0;
    text-decoration: underline;
}

#powers p {
    margin: 0.4rem;
}

#powers .section-title {
    position: relative;
    bottom: 2.25rem;
    background-color: #f1f1f1;
    border-radius: 2rem;
    margin: 0 0 -3rem 0;
    padding: 0.25rem 1rem;
    width: fit-content;
}

#powers .border-astral-d {
    border: 2px solid #C860FF;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-astral-l {
    border: 2px solid darkgray;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-flame {
    border: 2px solid #FF8000;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-ninja {
    border: 2px solid green;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-ooze {
    border: 2px solid #Eb1464;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-robotics {
    border: 2px solid gray;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-utrom {
    border: 2px solid #32E6FF;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

#powers .border-water {
    border: 2px solid #1EA2FF;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

.icon-power {
    margin-left: 1rem;
    position: relative;
    top: 0.25rem;
    width: 1.75rem;
}

#powers .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#powers .legendary-thumbnail {
    width: 10rem;
}

/*
    Tools
*/

#tools {
    text-align: left;
}

#tools h4 {
    margin-bottom: 0;
    text-decoration: underline;
}

#tools p {
    margin: 0.4rem;
}

#tools ul li {
    border: 2px solid darkgray;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    width: fit-content;
}

/*
    Upgrades
*/

.upgrade {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    /* grid-template-columns: 1fr; */
    /* border: 2px solid darkgray; */
    padding: 1rem;
    /* border-radius: 2rem; */
    margin: 0 0 2rem 0;
    overflow-x: scroll;
    width: 95vw;
}

.upgrade h4 {
    margin: 0;
    width: 100%;
}

.upgrade-header {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    /* grid-column: 1 / 1;
    grid-row: 1 / 3; */
    text-align: center;
}

.upgrade-level {
    border: 2px solid darkgray;
    padding: 1rem;
    border-radius: 2rem;
    width: max-content;
}

.upgrade-row {
    display: flex;

    /* flex-wrap: wrap; */

    gap: 0.5rem;
}




#upgrades th {
    padding-left: 1rem;
    text-align: left;
}

#upgrades td {
    padding: 1rem 0.5rem;
    text-align: left;
    min-width: 10rem;
}

#upgrades td p {
    margin: 0;
    /* white-space: nowrap; */
}

#upgrades th,
#upgrades td,
#artifacts th,
#artifacts td {
    border: 1px solid rgb(160 160 160);
}

 

.table-wrapper {
    margin-bottom: 3rem;
    max-width: 95vw;
    overflow-x: scroll;
}

/*
    Artifacts
*/

#artifacts table {
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

#artifacts table th {
    padding-right: 3rem;
}

#artifacts thead {
    text-align: left;
    text-decoration: underline;
}

#artifacts .artifact-image {
    height: 100px;
}

#artifacts .artifact {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 16rem 1fr;
    border: 2px solid darkgray;
    padding: 1rem;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
}

#artifacts .artifact-header {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    text-align: center;
}

#artifacts .artifact-details-container {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

#artifacts .artifact-cost-container {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#artifacts .artifact-cost-container .level {
    line-height: 1rem;
}

#artifacts .artifact-cost-container .cost {
    margin: 0 1.8rem 1rem 0;
}

#artifacts .artifact-image {
    align-self: center;
    margin: 0 0 1rem 0;
}

tr th:first-of-type {
    border: none !important;
}

.tool-image {
    height: 8rem;
}

/*
    Boosts
*/
#boosts .boost-wrapper {
    align-items: center;
    display: flex;
    gap: 2rem;
}

#boosts .boost-image {
    height: 5rem;
}

/*
    Portals
*/
#portals .portal-wrapper {
    align-items: center;
    display: flex;
    gap: 2rem;
    margin: 2rem 0 0;
}

#portals .portal-wrapper h4 {
    margin: 0 0 0.5rem;
}

#portals .portal-image {
    height: 5rem;
}


/*
    Map
*/
#map h4 {
    margin: 0;
}

#map p {
    margin: 0 0 0 1rem;
}

#map .map-room {
    margin: 0 0 2rem 0;
}

#map .map-title {
    height: 10rem;
}

/*
    Tips
*/
#tips .tips-list {
    list-style: inside square;
}

/*
    Glossary
*/
#glossary h4 {
    margin-bottom: 0;
}




@media screen and (max-width: 1200px) {
    body .content {
        padding: 0.75rem;
    }

    body .mobile-nope {
        display: none;
    }

    body .mobile-yep {
        display: inline-block;
    }

    .navbar {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
    .mobile-menu.show {
        display: block;
    }

    .basic-info-container,
    .mastery-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .basic-leonardo,
    .basic-donatello,
    .basic-michelangelo,
    .basic-raphael,
    .basic-casey,
    .basic-metalhead,
    .mastery-leonardo,
    .mastery-donatello,
    .mastery-michelangelo,
    .mastery-raphael,
    .mastery-casey,
    .mastery-metalhead {
        margin-left: 0;
    }
    
    /* .basic-info-container img,
    .mastery-container img {
        height: 10rem;
    } */
    
    .basic-michelangelo-content,
    .basic-leonardo-content,
    .basic-raphael-content,
    .basic-donatello-content,
    .basic-casey-content,
    .basic-metalhead-content {
        /* background: no-repeat url("assets/TMNT-Background.webp");
        background-size: 100% 100%;
        color: white; */
        margin: 0 0 3rem 0;
        padding: 0;
    }

    #inspirations .insp-intro {
        padding: 1rem 0;
    }

    /* mastery no left margin */

    #mastery ul li p {
        border-radius: 2rem;
    }

    #inspirations .insp-wrapper,
    #inspirations .insp-row,
    #inspirations .insp-name {
        flex-direction: column;
        margin: 0 0 2rem 0;
    }

    #inspirations .insp-row .insp-name .insp-image {
        height: 5rem;
    }

    #powers {
        margin: 0;
    }

    #upgrades .upgrade {
        padding: 0;
        width: unset;
    }

    #upgrades .upgrade-row {
        flex-direction: column;
    }

    .upgrade-level {
        width: unset;
    }

    #artifacts .artifact {
        gap: 2rem;
        grid-template-columns: 1fr;
    }

    #artifacts .artifact-header {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        justify-self: center;
    }
    
    #artifacts .artifact-details-container {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    
    #artifacts .artifact-cost-container {
        flex-direction: column;
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }

    #boosts .boost-wrapper {
        flex-direction: column;
        gap: 0.5rem;
        margin: 0 0 3rem 0;
    }

    #boosts .boost-wrapper h4 {
        margin: 0;
    }

    #portals .portal-wrapper {
        flex-direction: column;
        gap: 0.5rem;
        margin: 0 0 3rem 0;
        text-align: center;
    }

    #portals .portal-wrapper h4 {
        margin: 0;
    }

    #map .map-title {
        height: 5rem;
    }
    
}

@media screen and (max-width: 550px) {
    body .tiny-mobile-yep {
        display: inline-block;
    }
}
